<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <connectionStrings>
    <add name="PluralsightColorWebsite_db" connectionString="Server=tcp:sridhatridbserver.database.windows.net,1433;Initial Catalog=sridhatri_db;Persist Security Info=False;User ID=dbadmin;Password=siso@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
  </connectionStrings>

</configuration>
